#parent-div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 512px;
}
body {
  display: flex;
  justify-content: center;
  background-color: black;
}

#divInput {
  display: flex;
  justify-content: center;
}
